<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пожалуйста, заполните форму</title>
</head>
<body>
    <h1>Введите контактную информацию для связи</h1>
    <form method="POST" action="/setcookie">
        <label for="name">Имя:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <input type="submit" value="Войти">
    </form>
</body>
</html>
